@using System.Web.UI.WebControls
@section SPAViews {
    @Html.Partial("_Home")
}
@*Some js related MVC implementation, not so familiar yet hidden temporarily*@
@section Scripts{
    @* @Scripts.Render("~/bundles/knockout") *@
    @* @Scripts.Render("~/bundles/app") *@
}
@{
    ViewBag.Title = "Home";
}

<h1>MyOJ</h1>
<p>Welcome to MyOJ.</p>